@import url('https://fonts.googleapis.com/css?family=Rubik');

*
{
  font-family: 'Rubik';
  color: white;
}

.template-info
{
  border-radius: 1vh;
  padding-top: 1vh;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 25%;
}

.mysvg
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-in-template
{
  border-radius: 1vh;
  padding: 1vh;
}

.bro-template
{
  border-radius: 1vh;
  margin: 2vh;
  padding-bottom: 1vh;
  width: 25%;
}

.bro-info
{
  border-radius: 1vh;
  display: flex;
  padding: 3vh;
  flex-direction: column;
}

.main-window
{
  background-color: hsl(226, 43%, 10%);
  padding: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.templates-collection
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jerry-img
{
  width: 40%;
  height: auto;
  background-color: white;
  padding: 0.5vh;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jerry-img img
{
  width: 100%;
  height: auto;
}

.jerry-info
{
  flex: 0 0 0;
}
