@import url('https://fonts.googleapis.com/css?family=Rubik');

*
{
  font-family: 'Rubik';
  color: white;
}

p
{
  all: unset;
  display: flex;
  flex-direction: column;
  padding: 0.5vh;
}

.previous,
.report-for
{
  color: hsl(236, 100%, 87%);
}

.main-window
{
  background-color: hsl(226, 43%, 10%);
  padding: 10%;
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: stretch;
  @media (width <= 40em) {
    flex-direction: column;
    padding: 5%;
  }
  @media (width >= 60em) {
    flex-direction: row;
    padding: 10%;
  }
}

.bro-template
{
  border-radius: 1vh;
  margin: 2vh;
  padding-bottom: 1vh;
  max-width: fit-content;
  @media (width >= 40em) {
    width: 33%;
  }
  @media (width >= 60em) {
    width: 25%;
  }
}

.bro-template:hover,
.template-info:hover
{
  transform: scale(1.2);
}

.templates-collection
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  grid-auto-rows: 1fr;
  max-width: fit-content;
  margin: 2vh;
  max-width: 750px;
  @media (width <=60em) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 66%;
  }
  @media (width <= 40em) {
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 14px;
  }
}

.template-info
{
  border-radius: 1vh;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  gap: none;
  max-width: 100%;
  justify-content: flex-end;
}

.bro-info
{
  border-radius: 1vh;
  display: flex;
  padding: 3vh;
  flex-direction: column;
  justify-content: space-around;
  @media (width <= 40em) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.jerry-img
{
  width: 40%;
  height: 40%;
  background-color: white;
  padding: 0.5vh;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (width <= 40em) {
    width: 25%;
    height: 25%;
    border-radius: 100%;
  }
}

.jerry-img img
{
  width: 100%;
  height: auto;
}

.jerry-info
{
  padding: 0.5vh;
}

.jerry-info name
{
  font-size: 27px;
  @media (width >= 60em) {
    font-size: 40px;
  }
}

.calender-info
{
  list-style-type: none;
  display: flex;
  justify-content: center;

  @media (width<40rem)
  {
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    justify-content: space-around;
  }
  @media (width>40rem) 
  {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3vh;
    justify-content: space-between;
  }
}

.calender-info li
{
  padding: 5px;
}

.mysvg
{
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 55px;
}

.info-in-template
{
  border-radius: 1vh;
  padding: 2.5vh;
}

.header
{
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
  justify-content: space-between;
  align-items: center;
}

.name,
.current
{
  font-size: 27px;
  @media (width <=40em) {
    font-size: 18px;
  }
}
